
.common-input {
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
}

.mg-10 {
  margin: 10px;
}

button {
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  /* background-color: #2196f3; */
  cursor: pointer;
  color: #FFF;
}

.primary{
  background-color: #2196f3;
}
.secondary{
  background-color: #f3aa21;
}
.warning {
  background-color: red;
}

.clr-primary{
  color: #2196f3;
}

.flex-properties {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  margin: 30px;
}